.the_game {
  font-size: 72px;
  margin: 10px;
  font-family: "Montserrat";
  color: rgb(252, 247, 247);
  text-align: center;

  z-index: 2;
}

.sapper {
  font-size: 150px;
  margin: 10px;
  font-family: "Montserrat";
  color: rgb(209, 190, 190);
  text-align: center;
  text-shadow: 0px 1px 15.2px rgba(8, 8, 8, 0.68);

  z-index: 3;
}

.btn-scale-1{
  padding: 16px;
  margin: 2px;
  text-align: right;
  height: 50px;
  width: 50px;
  font-size: 20px;
  font-weight: 400;
  font-family:Arial, Helvetica, sans-serif;
  border:none;
  color: white;
  text-shadow: 1px 1px 3px #8e8e8e;
}

.button-clicked {
  text-align: right;
  background: url('../images/bomb3.png');
}


.btn-scale-2{
  padding: 16px;

  margin: 2px;
  height: 50px;
  width: 50px;
  font-size: 20px;
  font-weight: 400;
  font-family:Arial, Helvetica, sans-serif;
  border:none;
  color: white;
  text-shadow: 1px 1px 3px #8e8e8e;
}

.button-clicked2 {
  background: {{ c.mines }};
}

.pole {
  text-align: center;
}

img.background {
  min-height: 100%;
  min-width: 640px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
}

body {
background: url('../images/background.jpg') repeat 0 0;
}