{% extends 'sapy/base.html' %}

{% block content %}
<h1 class="the_game">The Game</h1>
<h1 class="sapper">Sapper</h1>
<div class="pole">
{% for r in pole %}
  {% for c in r %}
    <tbody>
    <a{{c.num}}>{{c.around_mines}}</a{{c.num}}>
    </tbody>
<tbody>
    {% if c.mine %}
       <button id="scale-{{ c.num }}" class="btn-scale-1 btn"></button>
    {% else %}
    <button id="scale2-{{ c.num }}" class="btn-scale-2 btn"></button>
    {% endif %}
    </tbody>
  {% endfor %}
<br>
{% endfor %}
</div>
{% endblock %}

